<div class="page-title">
  <div class="title_left">
    <h3>Danh sách nhóm quyền</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Gõ tên quyền...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Tìm!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="cleargix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Thêm mới</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Mã</th>
              <th>Tên</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{role.Name}}</td>
              <td>{{role.Description}}</td>
              <td>
                <button class="btn btn-primary">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" >
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Large modal-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm / Sửa quyền</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addEditForm="ngForm" class="form-horizontal form-label-left" novalidate (ngSubmit)="saveChange(addEditForm.valid)" *ngIf="entity" >
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên nhóm</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input type="text" #name="ngModel" [(ngModel)]="entity.name" required minlength="3" name="name" class="form-control">
              <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập ít nhất 3 ký tự
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea type="text" #description="ngModel" [(ngModel)]="entity.description" required name="description" class="form-control"></textarea>
              <small [hidden]="description.valid || (description.pristine && !addEditForm.submitted)" class="text-danger">
                Bạn phải nhập mô tả
              </small>
            </div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" class="btn btn-primary" (click)="modalAddEdit.hide()">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>